.footer {
  display: grid;
  grid-auto-flow: row;
  padding-top: 30px;
}

.top_section {
  display: grid;
  grid-auto-flow: column;
}

.terms {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-left: 250px;
  color: #293341;
}

.logo {
  padding-top: 30px;
}

.bottom_section {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.brand_logo {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  width: 500px;
}

.copyrights {
  color: #465364;
}

.by {
  color: #465364;
}

/* Media query for screens with a max-width of 600px */
@media only screen and (max-width: 600px) {

  .footer {
    padding-top: 15px;
  }

  .top_section {
    display: block;
    align-items: flex-start;
    text-align: left;
  }

  .terms {
    display: block;
    padding-top: 10px;
    padding-left: 15px;
    justify-content: flex-start;
  }

  .bottom_section {
    display: block;
    text-align: left;
    padding-left: 15px;
  }

  .brand_logo {
    grid-auto-flow: row;
    justify-content: flex-start;
    width: auto;
    padding-left: 5px;
  }
}