.header {
  /* background-color: bisque; */
  display: grid;
  grid-auto-flow: column ;
  padding: 12px;
  box-shadow: 0px 5px 13px 0px rgba(0, 106, 229, 0.03);

}

.brand {
  /* background-color: blue; */
  display: grid;
}

.search {
    /* background-color: blueviolet; */
    display: grid;
    grid-auto-flow: column ;
    align-content: center;
    background-color: rgba(247, 249, 250, 1);
    border-radius: 100px;
    align-self: center;
    justify-content: flex-start;
    padding: 10px 16px;
    grid-gap: 24px;
}

.search > input {
  color: rgba(131, 144, 162, 1);
  background-color: rgba(247, 249, 250, 1);
  border-radius: 100px;
  outline: none;
  border: none;
  width: 300px;
}

.menu {
  /* background-color: azure; */
  display: grid;
  grid-auto-flow:column ;
  place-items: center;
}

.controls {
  /* background-color: aqua; */
  display: grid;
  grid-auto-flow:column ;
  place-items: center;
}

.controls > button {
  background-color:#293341;
  border-radius: 100px;
  outline: none;
  border: none;
  color: #FFFFFF;
  padding: 10px 16px;

}

.burger {
  display:none;

}

/* center page */
.centerpg {
  display: grid;
  grid-auto-flow: column ;
  justify-content: space-between;
  padding: 5px 20px;
}

.live_auc {
  display: grid;
  grid-auto-flow: column ;
}

/* Auction list */

.row1 {
  display: grid;
  grid-auto-flow: column ;
  padding-top: 30px;
  padding-left: 30px;
}

.grid1 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 470px;
}
/* Grid1-section1 */
.sec {
  display: grid;
  grid-auto-flow: column ;
  width:260px;
  justify-content: space-between;
}

.create {
  display: grid;
  grid-auto-flow: column ;
  justify-content: flex-start;

}

.writing1 {
  font-size: 12px;
  color:#9FA1A6;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.writing2 {
  font-size: 14px;
  color: #293341;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
}

.createimage {
  padding: 20px 10px;
  height: 34px;
  width: 34px;
}

.sec_line {
  height: 50px;
  width: 1px;
  background-color:#F1F4F5;
  margin-top: 12px;
}

.own {
  display: grid;
  grid-auto-flow: column ;
  justify-content: flex-start;
}

.ownimage {
  padding: 20px 10px;
}

.writing3 {
  
  font-size: 12px;
  color:#9FA1A6;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.writing4 {
  font-size: 14px;
  color: #293341;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
}

.mainimage {
  padding-left: 10px;
  padding-right: 10px;
}

/* BID VALUES */

.picname {
color: #293341;
padding-top: 10px;
}

.bid {
  display: grid;
  grid-auto-flow: column;
  width: 260px;
  height: 17px;
  margin-bottom: 20px;
}

.bid > p {
  font-size: 14px;
}

.currentbid {
  color: #465364;

}

.amount {
  padding-left: 45px;
}

.bid_end {
  display: grid;
  grid-auto-flow: column;
  width: 260px;
  height: 17px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.bid_end > p {
  font-size: 14px;
}

.hour {
  color: #FE7676;
}

.history {
  display: grid;
  grid-auto-flow: column;
  width: 270px;
  height: 40px;
  justify-content: space-between;

}

.history > p {
  font-size: 14px;
  padding-right: 15px;
}

.history > button {
  width:125px;
  height:40px;
  border-radius: 50px;
  background-color:#1A79E8;
  color: #FFFFFF;
  outline: none;
  border: none;

}

.history > span {
  padding-left: 10px;
  padding-top: 8px;
}

.row2 {
  display: grid;
  grid-auto-flow: column ;
  padding-top: 30px;
  padding-left: 30px;
}


.grid2 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 470px;
}

.grid3 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 470px;
}

.grid4 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 470px;
}

.grid5 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 470px;
}

.grid6 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 470px;
}

.grid7 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 470px;
}

.grid8 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 470px;
}

/* loading page */

.loading {
  display: grid;
  grid-auto-flow: row ;
  justify-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.loading > p {
  color: #465364;
}

/* moto page */

.moto {
  display:grid;
  grid-auto-flow: row ;
  justify-items: center;
}

.moto > p {
  color: #000000;
  font-size: 27px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.music {
  color: #293341;
  font-size: 17dx;
  padding-top: 30px;
}

.moto > button {
  background-color: #1A79E8;
  color: #FFFFFF;
  outline: none;
  border: none;
  border-radius : 50px;
  width: 200px;
  height:40px;
  margin-top: 30px;
}

/* footer page */

.footer {
  display:grid;
  grid-auto-flow: row ;
  padding-top: 60px;
  margin-top: 60px;
}

.top_section {
  display:grid;
  grid-auto-flow:column ;
}

.terms {
  display:grid;
  grid-auto-flow:column ;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-left: 250px;
}

.bottom_section {
  display:grid;
  grid-auto-flow:column ;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.logo {
  padding-top: 30px;
}

.brand_logo {
  display:grid;
  grid-auto-flow:column ;
  justify-content: space-between;
  width: 500px;
}












/* mobile view */

@media only screen and (max-width: 600px) {
    .menu{
      display:none;
    }

    .controls{
      display:none;
    }

    .search{
      display:none;
    }

    .burger{
      display: block;
    }

    .header{
      justify-content: space-between;
      align-items: center;
    }
}