.header {
  /* background-color: bisque; */
  display: grid;
  grid-auto-flow: column ;
  padding: 12px;
  box-shadow: 0px 5px 13px 0px rgba(0, 106, 229, 0.03);

}

.brand {
  /* background-color: blue; */
  display: grid;
}

.search {
    /* background-color: blueviolet; */
    display: grid;
    grid-auto-flow: column ;
    align-content: center;
    background-color: rgba(247, 249, 250, 1);
    border-radius: 100px;
    align-self: center;
    justify-content: flex-start;
    padding: 10px 16px;
    grid-gap: 24px;
}

.search > input {
  color: rgba(131, 144, 162, 1);
  background-color: rgba(247, 249, 250, 1);
  border-radius: 100px;
  outline: none;
  border: none;
  width: 300px;
}

.menu {
  /* background-color: azure; */
  display: grid;
  grid-auto-flow:column ;
  place-items: center;
}

.controls {
  /* background-color: aqua; */
  display: grid;
  grid-auto-flow:column ;
  place-items: center;
}

.controls > button {
  background-color:#293341;
  border-radius: 100px;
  outline: none;
  border: none;
  color: #FFFFFF;
  padding: 10px 16px;

}

.burger {
  display:none;

}

/* center page */
.centerpg {
  display: grid;
  grid-auto-flow: column ;
  justify-content: space-between;
  padding: 5px 20px;
}

.live_auc {
  display: grid;
  grid-auto-flow: column ;
}

/* Auction list */

.row1 {
  display: grid;
  grid-auto-flow: column ;
}

.grid1 {
  box-shadow: 0px 5px 13px 0px #006AE508;
  width: 280px;
  height: 432px;
}
.sec {
  display: grid;
  grid-auto-flow: column ;
  width:260px;
  justify-content: space-between;
}

.create {
  display: grid;
  grid-auto-flow: column ;
  justify-content: flex-start;

}

.writing1 {
  font-size: 12px;
  color:#9FA1A6;
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.writing2 {
  font-size: 14px;
  color: #293341;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
}

.createimage {
  padding: 20px 10px;
  height: 34px;
  width: 34px;
}

.own {
  display: grid;
  grid-auto-flow: column ;
  justify-content: flex-start;
}

.ownimage {
  padding: 20px 10px;
}

.writing3 {
  
  font-size: 12px;
  color:#9FA1A6;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.writing4 {
  font-size: 14px;
  color: #293341;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 5px;
}

.bid {
  display: grid;
  grid-auto-flow: column;
  width: 260px;
  height: 17px;
  margin-bottom: 10px;
}

.bid > p {
  font-size: 14px;
}

.bid_end {
  display: grid;
  grid-auto-flow: column;
  width: 260px;
  height: 17px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.bid_end > p {
  font-size: 14px;
}

.history {
  display: grid;
  grid-auto-flow: column;
  width: 256px;
  height: 40px;
  justify-content: space-between;

}

.history > p {
  font-size: 14px;
}

.history > button {
  width:125px;
  height:40px;
  border-radius: 50px;
  background-color:#1A79E8;
  color: #FFFFFF;
  outline: none;
  border: none;
}

.history > span {
  padding-left: 10px;
  padding-top: 8px;
}











/* mobile view */

@media only screen and (max-width: 600px) {
    .menu{
      display:none;
    }

    .controls{
      display:none;
    }

    .search{
      display:none;
    }

    .burger{
      display: block;
    }

    .header{
      justify-content: space-between;
      align-items: center;
    }
}